.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.row{
  padding-top: 50px;
  padding-bottom: 50px;
}

input{width: 70%; border: none; padding: 10px;}

button{
  margin-left: 5px;
  background: #eee;
  padding: 8px;
  border: none;
}

header{
  background-color: #26C6DA;
  padding-top: 10px;
  padding-bottom: 10px;
}
header h1{color: #fff; font-weight: 300}

.weather{
  background-color: #263238;
  height: 100vh;
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather h1, .weather h2, .weather h3, .weather p{color: #fff; font-weight: 300}

.todoList{
  background-color: #263238;
  height: 100vh;
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoList p, .todoList h1, .todoList h2, .todoList h3 { color: #fff;}

.todoList .row{padding-top: 10px;
padding-bottom: 10px;}

.individualToDo h3, .individualToDo button {margin-top: 5px}
